In [2]:
import pandas as pd

<h2>Quiz 1 : Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [3]:
# Membuat dataframes dari dictionary
df = pd.DataFrame({'panjang': [50, 21, 89, 99], 'lebar': [12, 11, 21, 32]})
print(df)

   panjang  lebar
0       50     12
1       21     11
2       89     21
3       99     32

<h2>Quiz 2 : Membaca data dari file</h2>

Download file bernama diamonds.csv, kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [6]:
# Membaca data dan memasukannya kedalam suatu variabel
df_from_csv = pd.read_csv('./Week_2_Tugas_Day_1/diamonds-1.csv')
df_from_csv

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

Expected Result :
![Expected Output](./Week_2_Tugas_Day_1/image-55.png)

<h2>Quiz 3 : DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Series adalah salah satu object penyimpanan data pada pandas. Series bersifat satu dimensi serta dapat menyimpan berbagai jenis tipe data seperti integer, string, dan lain sebagainya. Series memilki segala yang kemampuan yang ada pada List di Python. Tetapi tidak sebaliknya. List pada Python hanya bisa mempunyai nilai index yang sequential dimulai dari 0, 1, 2 dst. 

Sedangkan Dictionary adalah tipe data di Python yang bisa didefinisikan 'keys'-nya (kata kuncinya), berbeda dengan List yang hanya memanfaatkan index-ing yang hanya bisa bersifat sequential. Di sisi lain, Series pada pandas juga memiliki kemampuan untuk pendefinisian 'keys'-nya seperti pada Dictionary Python. Series pada pandas juga memungkinkan memiliki data yang nilai 'keys'-nya sama, hal ini berbeda dengan Dictionary Python yang tidak memungkinkan data dengan 'keys' yang duplikat (sama). Selain itu Series pada pandas juga bisa melakukan slicing yang tidak bisa dilakukan pada Dictinary Python. Sehingga Series pada pandas dapat disimpulkan memiliki kemampuan gabungan dari dari List dan Dictionary di Python dengan kemampuan yang lebih baik untuk data manipulation dan data analysis.

DataFrame adalah juga object penyimpanan data pada pandas. Berbeda dengan Series, DataFrame menyimpan data 2 dimensi. 2 dimensi ini artinya DataFrame memiliki dua index yaitu index baris dan index kolom.

In [4]:
# code here
data_series = pd.Series([6,'f',4,6])
print(data_series)

0    6
1    f
2    4
3    6
dtype: object

<h2>Quiz 4 : Pemeriksaan Data Sederhana</h2>

Di quiz no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari :
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [12]:
# baris pertama dari column price
print(df_from_csv['price'].iloc[0])

326

In [13]:
# baris terakhir dari column color
print(df_from_csv['color'].iloc[-1])

D

<h2>Quiz 5 : Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Statistika deskriptif merupakan suatu metode yang berhubungan dengan pengumpulan atau penyajian data sampai memberi informasi yang berguna. Statistik Deskriptif juga merupakan metode yang sangat sederhana. Metode ini hanya mendeskripsikan kondisi dari data yang sudah di miliki Dan menyajikannya dalam bentuk tabel diagram grafik dan bentuk lainnya yang disajikan dalam uraian â€“ uraian singkat dan terbatas.

<h2>Quiz 6 : Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [6]:
# Statistika deskriptif pada suatu DataFrame dengan method .describe() pada pandas
df_from_csv.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [7]:
# Nilai rata-rata dari column price
df_from_csv['price'].mean()

3932.799721913237

In [8]:
# Nilai standar deviasi dari column depth
df_from_csv['depth'].std()

1.4326213188337733

In [10]:
# Nilai maximum dari column carat
df_from_csv['carat'].max()

5.01